// COLORS
$cc-primary: #55c57a;
$cc-primary-light: #7ed56f;
$cc-primary-dark: #28b485;

$cc-grey-light-1: #f7f7f7;

$cc-white: #ffffff;
$cc-grey-dark: #777;
$cc-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
