// COLORS
$cc-primary: #55c57a;
$cc-primary-light: #7ed56f;
$cc-primary-dark: #28b485;

$cc-secondary-light: #ffb900;
$cc-secondary-dark: #ff7730;

$cc-tertiary-light: #2998ff;
$cc-tertiary-dark: #5643fa;

$cc-grey-light-1: #f7f7f7;
$cc-grey-light-2: #eee;

$cc-white: #ffffff;
$cc-grey-dark: #777;
$cc-black: #000000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FONT
$default-font-size: 1.6rem;
